<!DOCTYPE html>
{%  load static from staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/web_app/styles.css">
</head>

<header>

    <nav>
        <form>

        </form>

        <form action="{% url 'web_app:articles_list' %}">
            <li>
                <button type="submit">Home</button>
            </li>
        </form>

        <form action="{% url 'web_app:recipe_list' %}">
            <li>
                <button type="submit">Recipes</button>
            </li>
        </form>


        <form action="{% url 'web_app:articles_create' %}">
            <li>
                <button class="highlight" type="submit">Create New Article</button>
            </li>
        </form>
        {% if user.is_superuser %}
        <form action="{% url 'web_app:category_create'  %}">
            {% csrf_token%}

            <li>
                <button type="submit">Create New Category</button>
            </li>

        </form>


        <form action="{% url 'web_app:recipe_create'  %}">
            {% csrf_token%}

            <li>
                <button type="submit">Create New Recipe</button>
            </li>

        </form>
        {% endif %}

        {% if user.is_authenticated %}

        <form action="{% url 'accounts:logout'  %}" method="post">
            {% csrf_token%}
            <li>
                <button type="submit">LogOut</button>
            </li>
        </form>
        <form>
            <li>
                <button><span style="margin-left:300px">User:  {{user.username}}</span></button>
            </li>
        </form>
        {% else %}

        <form action="{% url 'accounts:login'  %}" method="post">
            {% csrf_token%}

            <li>
                <button type="submit">LogIn</button>
            </li>

        </form>

        <form action="{% url 'accounts:signup'  %}"> {% csrf_token%}

            <li>
                <button type="submit">SignUp</button>
            </li>

        </form>


        {% endif %}
        <br>

    </nav>
    <li><a href="{% url 'web_app:articles_list' %}"><img src="{% static 'web_app/Look@this.png' %}" width="200px"
                                                             height="200px" alt=""></a></li>
</header>

{% block body_block %}
{% endblock %}


</html>